* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'BYekan';
    src: url('BYekan-webfont.eot') format('eot'),
}
body {
    background-color: #0079bf;
    font-family: 'BYekan';
    font-size: 17px;
    font-weight: 540;
    overflow-y: hidden;
    overflow-x: auto;
}
.first_nav {
    height: 38px;
    width: 100%;
    background-color: #0067a3;
}
li.nav-item {
    background-color: #4d95be;
    margin: 3px;
    border-radius: 3px;
}
li.nav-item :hover {
    background-color: rgba(255, 255, 255, 0.2);
}
li.nav-item a, a {
    color: #fafcfe !important;
    padding: 3px 8px !important;   
    user-select: none;
    -webkit-user-drag: none;
}
li.nav-item a :hover {
    background: transparent;
}
button:focus, input:focus {
    outline: 0;
}
.search_input {
    color: rgba(255, 255, 255, 0.9);
    background-color: transparent;
    border: none;
    width: 140px;
    height: 20px;
}
.logo {
    position: relative;
    right: 15%;
    font-size: 22px;
    background-color: transparent !important;
    opacity: .7;
}
.trello-logo:hover {
    background-color: transparent !important;
}
.logo:hover {
    opacity: 1;
}
@media screen and (max-width: 750px) {
    span.board_txt {
        display: none;
    }
    input.search_input {
        display: none;
    }
    li.user_info {
        display: none;
    }
    .logo {
        left: 5px;
    }
}
.line_divider {
    border-right: 1px solid white;
    height: 18px;
    margin: auto 8px;
}
.second_nav > .navbar-nav > .nav-item {
    background-color: #3d99ce;
}
.title_box {
    background: none !important;
}
.input_title {
    display: none;
    width: 32px;
    padding: 3px 8px;
    border: 2px blue solid;
    border-radius: 4px;
    text-align: center;
}
.modal {
    direction: rtl;
}
.modal-backdrop {
    background-color: transparent;
}
.modal-header {
    padding: 0px 10px;
    height: 40px;
    align-items: center;
}
button.close {
    font-size: 22px;
    user-select: none;
}
.modal-title {  
    position: absolute;
    top: 0;
    right: 35%;
    padding-top: 10px;
}
.modal-body {
    padding: 8px 12px 0 12px;
}
label {
    float: right;
}
.form-control {
    padding: 0;
    height: 30px;
    width: 100%;
}
.pv_list {
    user-select: none;
    cursor: pointer;
}

@media screen and (max-width: 557px) {
    .second_navbar_ul_2 {
        position: absolute;
        top: 45px;
        right: 0;
    }
    .board-canvas {
        position: absolute;
        top: 120px;
    }
}
.sidebar {
    display: none;
    background-color: #f4f5f7;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 40px;
    height: 100vh;
    border-radius: 0;
    z-index: 1;
    transition: all ease-in-out 0.25s;
}
.close_sidebar {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 30px !important;
}
.sidebar-menu {
    list-style: none;
    text-align: right;
}
.sidebar-menu-item a {
    position: relative;
    color: #172b4d !important;
}
.sidebar-menu-item :hover {
    border-radius: 5px;
    background-color: #e2e4e9;
}
.sidebar-menu-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
}
.trello-icon::before {
    font-family: FontAwesome;
    content: "\f181";
}
.background-icon::before {
    font-family: FontAwesome;
    content: "\f0c8";
    color: blueviolet;
    background-color: blueviolet;
    border-radius: 3px;
}
.search-icon::before {
    font-family: FontAwesome;
    content: "\f002";
}
.sticker-icon::before {
    font-family: FontAwesome;
    content: "\f249";
}
.more-icon::before {
    font-family: FontAwesome;
    content: "\f141";
}
.butler-icon::before {
    font-family: FontAwesome;
    content: "\f0d0";
}
.activity-icon::before {
    font-family: FontAwesome;
    content: "\f03a";
}
.sidebar-menu-item-context {
    font-weight: 600;
    padding: 8px 40px 15px 0 !important;
}
.board-canvas {
    white-space: nowrap;
    direction: rtl;
}
/* each card in seperate column */
.each-list-col {
    display: inline-block; 
    text-align: right;
    width: 280px; /* width of each list columns */
    height: 100vh;
    margin-right: 10px;
}
/* add list btn */
.add-list {
    background-color: #3d99ce;
    width: inherit;
    color: white;
    border-radius: 3px;
    height: auto;
    transition: all ease-in-out .2s;
}
.add-list:hover {
    background-color: #52a4d4;
    color: white;
}
.add-icon::before{
    font-family: fontawesome;
    content: '\f067';
    margin-left: 5px;
}
.list-title-window {
    display: none;
    width: inherit;
    border-radius: 3px;
    padding: 3px;
    animation: fade-list-title-window ease-in-out .2s;
}
@keyframes fade-list-title-window {
    from {opacity: 0;}
    to {opacity: 1;}
}
.input-list-title {
    width: 100%;
    border: solid blue 2px;
    padding: 3px 15px;
    border-radius: 3px;
}
.list-title-footer > * {
    display: inline-block;
}
.close-list-title {
    background: transparent;
    border: none;
    font-size: 30px;
}